//Fuente importante titulos
$fuente-importante:agbalumo;

.title{
    font-family: $fuente-importante;
    font-size:6rem;
}

.sub-title{
    font-family: $fuente-importante;
    font-size:2rem;
}

.text{
    font-size:18px;
}